<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    #header {
      color: rgb(112, 190, 214);
      font-size: 20px;
    }
    #footer {
      color: rgb(76, 79, 82);
    }
    #container{
      color: black;
      font-size: 22px;
    }
  </style>

</head>

<body>
  <div id="header">
    <h1>Welcome {{userName}}</h1>
  </div>
  <div id="container">
    <p> Congratulations, your operation was performed sucessfully.</p>

  </div>
  <div id="footer"><br />
    <h3>Regards</h3>
    <h4>
      <pre> Identixweb Pvt. Ltd.</pre>
    </h4>
  </div>
</body>

</html>